[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ibrary/

/*.userprefs
/*.csproj
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

/*.unitypackage

/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta

.DS_Store
.vscode/
